.activity {
  background-color: var(--color-card);
  border-radius: 0.5rem;
  padding: 2.3rem 2.5rem;
}

.activity__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.activity__header-title {
  font-size: 1.3rem;
}

.activity__social-icon {
  width: 2rem;
  height: 2rem;
}

.activity__rate-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.activity__rate-number {
  font-weight: 700;
}

.activity__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity__total {
  font-size: 2.8rem;
  color: var(--color-heading);
}

.activity__rate {
  display: flex;
}

.activity-change--lost {
  color: hsl(356, 69%, 56%);
}

.activity-change--get {
  color: hsl(163, 72%, 41%);
}
