.followers__card {
  position: relative;
  background-color: hsl(227, 47%, 96%);
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 6.5rem 2.5rem 6.5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}

.followers__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.followers__card--facebook::before {
  background-color: hsl(208, 92%, 53%);
}

.followers__card--twitter::before {
  background-color: hsl(203, 89%, 53%);
}

.followers__card--instagram::before {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}

.followers__card--youtube::before {
  background-color: hsl(348, 97%, 39%);
}

.followers__username {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; /*create separate utility class for such stuff*/
}

.followers__social-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem; /*create separate utility class for such stuff*/
}

.followers__total {
  font-size: 5rem;
  color: #000;
}

.followers__card .paragraph {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  margin-bottom: 4rem; /*create separate utility class for such stuff*/
}

.followers__change {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}

.icon-up {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.followers-change--lost {
  color: hsl(356, 69%, 56%);
}

.followers-change--get {
  color: hsl(163, 72%, 41%);
}
