.checkboxBtn {
  position: relative;
  appearance: none;
  width: 5rem; /*5rem*/
  height: 2.5rem; /*2.5rem*/
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  border-radius: 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transition: background-image 0.2s ease;
  cursor: pointer;
}

.checkboxBtn::before {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: scale(-0.75);
  transition: all 0.2s ease;
  z-index: 10;
}

.checkboxBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 5rem;
  height: 2.5rem;
  background-image: linear-gradient(
    to right,
    hsl(230, 22%, 74%),
    hsl(230, 22%, 74%)
  );
  border-radius: 5rem;
  transition: opacity 0.2s ease;
}

.checkboxBtn:checked::before {
  left: 50%;
}

.checkboxBtn:checked::after {
  opacity: 0;
}
