.App::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24.5rem;
  background-color: #f8f9fe;
  z-index: -100;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding-top: 4rem;
}
