.App {
  position: relative;
}

.App::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24.5rem;
  background-color: var(--color-bc-after);
  z-index: -100;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding-top: 4rem;
}

/*1100px*/
@media only screen and (max-width: 68.75em) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.followers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 5rem;
}

.header {
  margin-bottom: 5rem;
}
