html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: hsl(228, 12%, 44%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-primary {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 1.2rem; /*create separate utility class for such stuff*/
}

.paragraph {
  font-weight: 700;
  font-size: 1.1rem;
}
